version: "3.7"

services:
  hugo_dev:
    # we need extended, and nodejs for sass!
    image: quay.io/ricardio/website:${QUAY_OCI_IMAGE_TAG}
    container_name: hugo_dev
    build:
       context: .
       dockerfile: dev.Dockerfile
       args:
         - HTTPD_OCI_IMAGE_TAG=${HTTPD_OCI_IMAGE_TAG}
         - GOLANG_VERSION=${GOLANG_VERSION}
         - HUGO_VERSION=${HUGO_VERSION}
         - HUGO_BASE_URL=${HUGO_BASE_URL}
         - GIT_COMMIT_ID=${GIT_COMMIT_ID}
         # - HUGO_BASE_URL=https://ric-carl.herokuapp.com/
    command: hugo serve --watch -b ${HUGO_BASE_URL}
    # environment:
      # - HUGO_BASE_URL=${HUGO_BASE_URL}
    env_file:
      - ./.env.dev
    volumes:
      - .:/ricard-io.io/hugo/src/:rw
    ports:
      # - 0.0.0.0:1313:1313
      - 0.0.0.0:8080:1313
